In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from openpyxl import Workbook
from openpyxl import load_workbook

In [2]:
TODAY = "2021-04-23"
TODAY_DATE = f"{TODAY} 00:00:00.csv"
HEADINGS = ["HH", "HL", "HHL", "LH", "LL", "LHL"]

In [3]:
workbook = load_workbook(filename="../data/output/sheets/daily_high_lows.xlsx")
sheet = workbook.active

In [4]:
EXCEL_MAPPING = {
    "HH_STOCKS" : "B17:B26",
    "HH_VALUES" : "C17:C26",
    
    "HL_STOCKS" : "E17:E26",
    "HL_VALUES" : "F17:F26",

    "HHL_STOCKS" : "H17:H26",
    "HHL_VALUES" : "I17:I26",

    "LH_STOCKS" : "B31:B40",
    "LH_VALUES" : "C31:C40",

    "LL_STOCKS" : "E31:E40",
    "LL_VALUES" : "F31:F40",

    "LHL_STOCKS" : "H31:H40",
    "LHL_VALUES" : "I31:I40"
}


NEGATE_EXCEL_MAPPING = {
    "HH_STOCKS" : "K17:K26",
    "HH_VALUES" : "L17:L26",
    
    "HL_STOCKS" : "N17:N26",
    "HL_VALUES" : "O17:O26",

    "HHL_STOCKS" : "Q17:Q26",
    "HHL_VALUES" : "R17:R26",

    "LH_STOCKS" : "K31:K40",
    "LH_VALUES" : "L31:L40",

    "LL_STOCKS" : "N31:N40",
    "LL_VALUES" : "O31:O40",

    "LHL_STOCKS" : "Q31:Q40",
    "LHL_VALUES" : "R31:R40"
}

In [5]:
def write_to_excel(HEADING, EXCEL_MAPPING, data_df):

    temp_data_df = data_df[['NAME',HEADING,'CLOSE']].sort_values([HEADING,'CLOSE'], ascending=False).head(10)
    print(temp_data_df)

    excel_data = temp_data_df[['NAME', HEADING]].values
    print(excel_data)
    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_STOCKS"]]):
            i[0].value = excel_data[index][0]
    except:
        print("LESS THAN 10 VALUES")
        

    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_VALUES"]]):
            i[0].value = excel_data[index][1]
        
    except :
        print("LESS THAN 10 VALUES")
        
    return True

In [6]:
data_df = pd.read_csv(f"../data/output/daily/{str(TODAY_DATE)[:10]}.csv")
for h in HEADINGS:
    write_to_excel(h, EXCEL_MAPPING, data_df)

           NAME  HH     CLOSE
8    ADANITRANS   6   1065.45
138      NAUKRI   5   4876.30
40     CADILAHC   5    570.90
9    AJANTPHARM   4   1784.10
187         UBL   4   1140.85
1    ABBOTINDIA   3  15076.35
24   BAJFINANCE   3   4667.80
21   BAJAJ-AUTO   3   3672.50
139  NAVINFLUOR   3   3172.20
113    JUBLFOOD   3   2844.65
[['ADANITRANS' 6]
 ['NAUKRI' 5]
 ['CADILAHC' 5]
 ['AJANTPHARM' 4]
 ['UBL' 4]
 ['ABBOTINDIA' 3]
 ['BAJFINANCE' 3]
 ['BAJAJ-AUTO' 3]
 ['NAVINFLUOR' 3]
 ['JUBLFOOD' 3]]
           NAME  HL     CLOSE
13       APLLTD   7    998.05
196       WIPRO   6    475.70
59        DIXON   5   3895.55
117  LAURUSLABS   4    463.35
1    ABBOTINDIA   3  15076.35
22   BAJAJFINSV   3   9916.65
100   INDIAMART   3   8253.75
169         SRF   3   6170.90
138      NAUKRI   3   4876.30
21   BAJAJ-AUTO   3   3672.50
[['APLLTD' 7]
 ['WIPRO' 6]
 ['DIXON' 5]
 ['LAURUSLABS' 4]
 ['ABBOTINDIA' 3]
 ['BAJAJFINSV' 3]
 ['INDIAMART' 3]
 ['SRF' 3]
 ['NAUKRI' 3]
 ['BAJAJ-AUTO' 3]]
           NAME  HHL     CLOSE
1    ABBOTINDIA    3  15076.35
138      NAUKRI    3   4876.30
21   BAJAJ-AUTO    3   3672.50
155     POLYCAB    3   1485.30
179   TATASTEEL    3    925.60
33   BHARATFORG    3    582.35
110  JINDALSTEL    3    437.05
91     HINDZINC    3    299.55
148    PETRONET    3    235.20
141        NMDC    3    138.65
[['ABBOTINDIA' 3]
 ['NAUKRI' 3]
 ['BAJAJ-AUTO' 3]
 ['POLYCAB' 3]
 ['TATASTEEL' 3]
 ['BHARATFORG' 3]
 ['JINDALSTEL' 3]
 ['HINDZINC' 3]
 ['PETRONET' 3]
 ['NMDC' 3]]
           NAME  LH    CLOSE
30         BBTC   8  1149.00
163      SANOFI   7  7576.65
90   HINDUNILVR   6  2307.75
72     GMRINFRA   6    22.90
191         VBL   5   879.90
157    PRESTIGE   5   275.75
47      COFORGE   4  2851.00
84      HDFCAMC   4  2822.40
48       COLPAL   4  1514.10
181       TECHM   4   950.20
[['BBTC' 8]
 ['SANOFI' 7]
 ['HINDUNILVR' 6]
 ['GMRINFRA' 6]
 ['VBL' 5]
 ['PRESTIGE' 5]
 ['COFORGE' 4]
 ['HDFCAMC' 4]
 ['COLPAL' 4]
 ['TECHM' 4]]
           NAME  LL     CLOSE
191         VBL   6    879.90
167    SHREECEM   4  28106.30
163      SANOFI   4   7576.65
120         LTI   4   3901.05
180         TCS   4   3109.50
61        DMART   4   2713.70
121        LTTS   4   2642.70
90   HINDUNILVR   4   2307.75
77       GRASIM   4   1278.10
158    RAMCOCEM   4    958.65
[['VBL' 6]
 ['SHREECEM' 4]
 ['SANOFI' 4]
 ['LTI' 4]
 ['TCS' 4]
 ['DMART' 4]
 ['LTTS' 4]
 ['HINDUNILVR' 4]
 ['GRASIM' 4]
 ['RAMCOCEM' 4]]
           NAME  LHL     CLOSE
191         VBL    5    879.90
163      SANOFI    4   7576.65
90   HINDUNILVR    4   2307.75
181       TECHM    4    950.20
64     EMAMILTD    4    505.25
51     CROMPTON    4    354.65
157    PRESTIGE    4    275.75
47      COFORGE    3   2851.00
146     PAGEIND    2  29127.40
167    SHREECEM    2  28106.30
[['VBL' 5]
 ['SANOFI' 4]
 ['HINDUNILVR' 4]
 ['TECHM' 4]
 ['EMAMILTD' 4]
 ['CROMPTON' 4]
 ['PRESTIGE' 4]
 ['COFORGE' 3]
 ['PAGEIND' 2]
 ['SHREECEM' 2]]

In [7]:
for h in HEADINGS:
    data_file = pd.read_csv(f"../data/output/negate/daily/{h}.csv")
    write_to_excel(h, NEGATE_EXCEL_MAPPING, data_file)

         NAME  HH    CLOSE
0      PFIZER   8  5221.55
1  AUROPHARMA   5   993.20
2     DRREDDY   4  5199.85
3       DIXON   4  3940.30
4  APOLLOHOSP   4  3228.95
5       LUPIN   4  1060.75
[['PFIZER' 8]
 ['AUROPHARMA' 5]
 ['DRREDDY' 4]
 ['DIXON' 4]
 ['APOLLOHOSP' 4]
 ['LUPIN' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  HL    CLOSE
0     SYNGENE   6   605.35
1    HINDALCO   6   355.85
2    CADILAHC   5   552.55
3  APOLLOHOSP   4  3228.95
4       PIIND   4  2576.65
[['SYNGENE' 6]
 ['HINDALCO' 6]
 ['CADILAHC' 5]
 ['APOLLOHOSP' 4]
 ['PIIND' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  HHL    CLOSE
0  APOLLOHOSP    4  3228.95
1     DRREDDY    2  5199.85
2       PIIND    2  2576.65
3   BRITANNIA    1  3752.00
4     SYNGENE    1   605.35
[['APOLLOHOSP' 4]
 ['DRREDDY' 2]
 ['PIIND' 2]
 ['BRITANNIA' 1]
 ['SYNGENE' 1]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
      NAME  LH    CLOSE
0     LTTS   7  2551.70
1     CESC   4   580.80
2  RBLBANK   4   176.35
[['LTTS' 7]
 ['CESC' 4]
 ['RBLBANK' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
Empty DataFrame
Columns: [NAME, LL, CLOSE]
Index: []
[]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  LHL     CLOSE
0  ASIANPAINT    3   2511.25
1  PIDILITIND    3   1785.80
2  ADANIGREEN    3   1030.45
3  BERGEPAINT    3    715.05
4        CESC    3    580.80
5     RBLBANK    3    176.35
6    BOSCHLTD    1  13510.30
7      MARUTI    1   6650.10
8        HDFC    1   2479.70
9   EICHERMOT    1   2337.85
[['ASIANPAINT' 3]
 ['PIDILITIND' 3]
 ['ADANIGREEN' 3]
 ['BERGEPAINT' 3]
 ['CESC' 3]
 ['RBLBANK' 3]
 ['BOSCHLTD' 1]
 ['MARUTI' 1]
 ['HDFC' 1]
 ['EICHERMOT' 1]]

In [8]:
workbook.save(filename=f"../data/output/sheets/{str(TODAY)[:10]}_high_lows.xlsx")